$font-family : 'Roboto', sans-serif;

@font-face {
    font-family: montserrat-light;
    src: url(/assets/fonts/Montserrat-Light.ttf);
}
@font-face {
    font-family: montserrat-medium;
    src: url(/assets/fonts/Montserrat-Medium.ttf);
}
@font-face {
    font-family: montserrat-extra-light;
    src: url(/assets/fonts/Montserrat-ExtraLight.ttf);
}
@font-face {
    font-family: raleway-bold;
    src: url(/assets/fonts/Raleway-Bold.ttf);
}
@font-face {
    font-family: raleway-regular;
    src: url(/assets/fonts/Raleway-Regular.ttf);
}